<!DOCTYPE html>
<html>
  <head>
    <title>Painel de Chamados Osasco</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Painel de Chamados <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <%= link_to 'Lista de Chamados', jobs_path, class: 'dropdown-item' %>
                <%= link_to 'Crie um Chamado', new_job_path, class: 'dropdown-item' %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Responsáveis <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <%= link_to 'Lista de Responsáveis', users_path, class: 'dropdown-item' %>
                <%= link_to 'Crie um Responsável', new_user_path, class: 'dropdown-item' %>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Central de ajuda</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6 justify-content-center align-self-center">
            <h1>Painel de Chamados</h1>
            <p class="lead">O controle rápido e fácil de seus chamados</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6 text-right">
            <div class="sponsor">
              <!-- <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIE23N&placement=bootswatchcom" id="_carbonads_js"></script> -->
              <%= image_tag 'logo.png' %>
            </div>
          </div>
        </div>
      </div>
      <%= yield %>
      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="float-lg-right"><a href="#top">Voltar para início</a></li>
            </ul>
            <p>Construído por <a href="https://proxer.com.br" target="_blank">proxer.com.br</a></p>
            <p>Versão 0.1</p>
          </div>
        </div>

      </footer>
    </div>
  </body>
</html>
